.developer-info {
  align-items: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 32px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .developer-info {
    gap: unset;
  }
}
