.head__logo {
    display: flex;
    align-items: center;
    font-size: .8rem;
    font-weight: 700;
}

.head__logo__img {
    width: 23px;
    height: 17px;
}

.head__logo__title1 {
    color: #2A7AE4;
    margin: 2px 0 0 2px;
}

.head__logo__title2 {
    color: #464646;
    margin-top: 2px;
}

