.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
}

@media screen and (min-width: 992px) {
  .head {
    padding: 32px 0;
    /* gap: 353px; */
    width: 80%;
  }
}