.footer__contact-me__input-name {
  position: relative;
  font-family: "Raleway", sans-serif;
  padding: 20px 12px 8px;
  font-size: 1rem;
  border: none;
  color: #464646;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer__contact-me__input-name {
    margin-bottom: 8px;
  }
}
