.input {
  position: relative;
  font-family: "Raleway", sans-serif;
  padding: 1rem 12px;
  font-size: 1rem;
  border: none;
  color: #464646;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.input::placeholder {
  color: #a2a2a2;
}

.input--login {
  line-height: 1.25rem;
  padding: 10.5px 12px;
}

.input-box {
  position: relative;
  width: 100%;
}

.input-box__tooltip {
  display: none;
}

.input--invalid
  .input-box__tooltip {
  background-color: #f2000080;
  border-radius: 6px;
  bottom: -5px;
  box-shadow: 2px 2px 9px 1px #00000090;
  color: #03070d;
  display: unset;
  font-size: 0.8125rem;
  min-width: 50%;
  padding: 5px;
  position: absolute;
  text-align: center;
  right: -5px;  
  width: min-content;
  z-index: 1;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}


@media screen and (min-width: 768px) {
  .input--mb8 {
    margin-bottom: 8px;
  }
}
