.promotion__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0;
  gap: 8px;
}

@media screen and (min-width: 768px) {
  .promotion__details {
    gap: 16px;
  }
}