.promotion {
  align-items: flex-start;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%),
    url(../../img/promotionBanner.jpg) transparent no-repeat center / cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 192px;
  justify-content: flex-end;
  padding: 16px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .promotion {
    height: 352px;
    padding: 32px;
  }
}

@media screen and (min-width: 992px) {
  .promotion {
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
  }
}
