.login-form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: center;
    width: 275px;
}


@media screen and (min-width: 992px) {
 .login-form{
    align-items: unset;
 }
}