.product-line__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.product-line__header--column {
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
}

@media screen and (min-width: 768px) {
    .product-line__header--column {
        flex-direction: unset;
    }    
}