.product-line {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .product-line {
    padding: 32px;
  }
}

@media screen and (min-width: 992px) {
  .product-line {
    max-width: min(80%, 1134px);
    padding-left: 0;
    padding-right: 0;
  }
}
